@media (max-width:600px){
    .container {
        width: 90%;
        margin: 30px auto;
        
    }
    
    /* nav strt*/
    
    
    nav h3 {
        font-size: 22px;
    }
    
    
    .right ul {
        display: none;
    }

    /*hero section*/


    .hero {
        display: flex;
        flex-direction: column;
    }
    
    .hero-left {
        width: 100%;
        align-items: center;
        padding-top: 30px;
    }
    
    .hero-right {
        width: 100%;
        background-image: url(/images/Circle\ design.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .hero-right img {
        height: 30vh;
    }
    
    /*sponser*/

.image-row{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    cursor: pointer;
}


.shadow-box {
    margin-top: 20px;
    width: 90vw;
    height: 20vh;
    box-shadow: 0px -9px 10px -16px #111,0px 9px 10px -16px #111;
}

   /* popular card*/

.whole-box {
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
}

.mother {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    height: 425px;
    width: 70vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    
}

.box1 img {
    align-self: center;
    width: 100%;
}

/* feature strt*/


.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-img {
    width: 100%;
    margin: 0 auto;

}
.feature-img img {
    width: 100%;
}

.feature-text {
    width: 100%;
}



.feature-text h2 {
    font-size: 30px;
    font-weight: 800;
    color: #111;
}

.feature-text p {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
}

.feature-text button {
    width: 165px;
    height: 38px;
    border-radius: 5px;
    background-color: #E02C6D;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.feature-text button:hover{
    background-color: #3A3A3A;
}

/* Cart Sidebar Responsive */
.cart-sidebar {
    width: 90%;
    right: -100%; /* Ensure it's off-screen */
}

.cart-sidebar.cart-open {
    right: 0;
}


}